<header class="site-header">
  <h1>{{ shop.name }}</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#collections">Collections</a></li>
      <li><a href="#shopall">Shop All</a></li>
    </ul>
  </nav>
</header>
