<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
</head>
<body>
  {% section 'header' %}
  {% section 'hero' %}
  {% section 'collections' %}
  {% section 'instagram' %}
  {% section 'footer' %}
</body>
</html>
